# URL de la API del backend de Django
PUBLIC_API_URL=http://localhost:8000/api

# Credenciales públicas de Supabase para subida directa de archivos (Storage)
PUBLIC_SUPABASE_URL=https://[YOUR_PROJECT_REF].supabase.co
PUBLIC_SUPABASE_ANON_KEY=[YOUR_ANON_KEY]

# Monitoreo de Errores Frontend (Sentry)
PUBLIC_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
