# Configuración de base de datos de Supabase (PostgreSQL)
# Formato URL para django-environ (Recomendado)
DATABASE_URL=postgres://postgres.[PROJECT_REF]:[YOUR-PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres

# O campos individuales si prefieres no usar la URL:
DB_NAME=postgres
DB_USER=postgres.[PROJECT_REF]
DB_PASSWORD=YOUR-PASSWORD
DB_HOST=db.[PROJECT_REF].supabase.co
DB_PORT=5432

# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-cambiame-en-produccion-brandimp-2026
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4321

# Monitoreo de Errores (Sentry)
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
